<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
</head>
<body>
    <p style="color: blue;"</p>Buscador de nombre y grupo:
    <form action="/PrimerApp/buscar/" method="GET">
        
        <p>Nombre</p> <input type="text" name="nombre" id="nombre"> 
        <p>Grupo</p> <input type="number" name="camada" id="camada">
        <p> 
            
        </p>
        <p>

        </p>
        <input type="submit" value="Buscar">        
    </form>
</body>
</html>